.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*

docs
.claude
.idea
node_modules
dist
CLAUDE.MD
.DS_Store

# Playwright E2E
test-results/
playwright-report/
playwright/.cache/
